{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    {{ block.super }}
    <div class="row section-head">

        <div class="two columns header-col">

            <h1><span>Get In Touch.</span></h1>

        </div>

        <div class="ten columns">

            <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut fugit.
            </p>

        </div>

    </div>

    <div class="row">

        <div class="eight columns">

            <!-- form -->
            <form action="" method="post" id="contactForm" name="contactForm"> {% csrf_token %}
                <fieldset>

                    <div>
                        <label for="Firstname">First Name <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="firstname" name="firstName">
                    </div>

                    <div>
                           <label for="Lastname">Last Name <span class="required">*</span></label>
                           <input type="text" value="" size="35" id="lastname" name="lastName">
                    </div>

                    <div>
                           <label for="streetaddress">Street Address<span class="required">*</span></label>
                           <input type="text" value="" size="35" id="streetaddress" name="streetaddress">
                    </div>

                    <div>
                           <label for="streetaddress2">Street Address Line2<span class="required">*</span></label>
                           <input type="text" value="" size="35" id="streetaddress2" name="streetaddress2">
                    </div>

                    <div>
                           <label for="city">City<span class="required">*</span></label>
                           <input type="text" value="" size="35" id="city" name="city">
                    </div>

                    <div>
                           <label for="state">State<span class="required">*</span></label>
                           <input type="text" value="" size="35" id="state" name="state">
                    </div>

                    <div>
                           <label for="zipcode">Zip Code<span class="required">*</span></label>
                           <input type="text" value="" size="35" id="zipcode" name="zip">
                    </div>


                    <div>
                        <label for="contactEmail">Email <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                    </div>

                    <div>
                        <label for="phone">Contact Number</label>
                        <input type="text" value="" size="35" id="phone" name="phone">
                    </div>


                    <div>
                        <button class="submit">Submit</button>
                        <span id="image-loader">
                        <img alt="" src="{% static "images/loader.gif " %}">
                     </span>
                    </div>

                </fieldset>
            </form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning"> Error boy</div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
            </div>

        </div>


        <aside class="four columns footer-widgets">

            <div class="widget widget_contact">

                <h4>Address and Phone</h4>
                <p class="address">
                    Jonathan Doe<br>
                    1600 Amphitheatre Parkway <br>
                    Mountain View, CA 94043 US<br>
                    <span>(123) 456-7890</span>
                </p>

            </div>

            <div class="widget widget_tweets">

                <h4 class="widget-title">Latest Tweets</h4>

                <ul id="twitter">
                    <li>
                        <span>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
                        <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                        <b><a href="#">2 Days Ago</a></b>
                    </li>
                    <li>
                        <span>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi
                        <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                        <b><a href="#">3 Days Ago</a></b>
                    </li>
                </ul>

            </div>

        </aside>

    </div>
{% endblock content %}